* {
    box-sizing: border-box;
}

.main-header {
    background-color: rgb(76, 73, 66);
    display: grid;


}

.journal {
    color: darkgreen;
}

ul {
    font-size: large;
    list-style-type: none;

}

.main-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.card {

    gap: 10px;
    display: flex;
    flex-direction: row;

}

.card-image {
    width: 150px;
}

.footer {
    margin: 20px;
    background-color: lightgray;
}

/* 
.main-layout>*.full {
    grid-column: 1/-1;

} */